[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = nvim
[user]
    name = Luis Enrique
    email = luisenrike@leddgroup.com
[credential]
    helper = store
[alias]
    gl = log --graph --pretty=format:'%C(auto)%h%d - %C(32)%an%Creset, %C(34)%ar %Creset: %s' --all
